<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression Test">
    <!--UI-->
    <test name="UI Automation">
        <classes>
            <class name="UI.tests.TicketTest"/>
        </classes>
    </test>

    <!--API-->
    <test name="API Automation">
        <classes>
            <class name="API.tests.TicketTest"/>
        </classes>
    </test>
</suite>